{% include 'shared/header.html' %}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    <small>{{ dashboard.period.name }}</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-3 text-center">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i>Income</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <tr>
                                        <th>

                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i>Bills</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover ">
                                    {% for expense in expense %}
                                        {% if expense.category.is_bill %}
                                            <tr>
                                                <th>{{ expense.category.name }}</th>
                                                <td>$ {{ expense.amount }}</td>
                                                <td><button id="delete_bill" data-expense-id="{{ expense.id }}">Delete</button></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    <tr>
                                        <th>Total Bills</th>
                                        <th>$ 120.00</th>
                                    </tr>
                                    <tr>
                                        <th>Cash After Bills</th>
                                        <th>$ 10,000.00</th>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i>Budgets</h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for expense in expenses %}
                                        {% if expense.category.is_bill %}
                                            <tr>
                                                <td><b>{{ expense.category.name }}</b></td>
                                                <td>12/12/12</td>
                                                <td>${{ expense.amount }}</td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8 text-center">
                <div class="panel panel-default">
                    <div class="panel-body">
                        .col-lg-4
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6">
                <button id="new_expense" type="button" class="btn-new-expense" data-toggle="modal" data-target="#myModal">
                    <i class="fa fa-2x fa-plus"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header alert-primary">
                                <button id="cancel_new_expense2" type="button" class="close">&times;</button>
                                <h4 class="modal-title "><i class="fa fa-money"></i>New Expense</h4>
                            </div>
                            <div class="modal-body">
                                {% csrf_token %}
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-usd fa-fw"></i></span>
                                    <input id="new_expense_amount" type="text" class="form-control" placeholder="Amount">
                                </div>
                                <div class="form-group input-group">
                                    <span class="input-group-addon"><i class="fa fa-calendar fa-fw"></i></span>
                                    <input id="new_expense_date" type="date" class="form-control" name="transaction-date">
                                </div>
                                <div class="form-group">
                                    <select id="new_expense_category" class="form-control" placeholder="Category">
                                        <option selected>Select Category...</option>
                                        <option>Bills & Utilities</option>
                                        <option>Marijuana</option>
                                        <option>Bars & Restaurants</option>
                                        <option>Fuel & Cars</option>
                                        <option>Groceries</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <textarea id="new_expense_description" class="form-control" rows="5" maxlength="100" placeholder="Description" style="resize:none"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="cancel_new_expense" type="button" class="btn btn-default">Cancel</button>
                                <button id="submit_new_expense" type="submit" class="btn btn-success">Add</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /#page-wrapper -->
</div>
{% include 'shared/footer.html' %}