<script src="/static/js/build/vendor.js"></script>
<script src="/static/js/main.js"></script>
<!-- Morris Charts JavaScript
<script src="static/js/plugins/morris/raphael.min.js"></script>
<script src="static/js/plugins/morris/morris.min.js"></script>
<script src="static/js/plugins/morris/morris-data.js"></script>
<script src="static/js/finances.js"></script> -->

<!--- DataTables
<script src="static/js/jquery-1.12.0.min.js"></script>
<script src="static/js/jquery.dataTables.min.js"></script> --->

</body>
</html>