<html>
<head>
    <title>Finance App Home</title>

    <!--- Bootstrap.css --->
    <link rel="stylesheet" href="/static/css/build/vendor.css">

    <!--- Custom CSS --->
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/sb-admin.css">

    <!--- Bootstrap JS -->

    <!-- Morris Charts CSS
    <link href="static/css/plugins/morris.css" rel="stylesheet"> -->

    <!-- Custom Fonts
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

    <!---- DataTables
    <link href="static/css/jquery.dataTables.min.css" rel="stylesheet"> --->


</head>
<body>
<div>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><i class="fa fa-database"></i> Nauda & Haggs Gangsta Finance Web App</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
        </ul>
    </nav>